@charset "UTF-8";

.container {
	padding: 16px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 420px;
	padding: 40px 40px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
}
body {
	background:
		url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg')
		fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

input[type=text], input[type=password] {
	width: 100%;
	margin-bottom: 10px;
	/* padding: 12px 20px; */
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border: none;
	border-bottom: 1px solid #FFF;
	background: transparent;
	color: #fff;
	font-size: 16px;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	border-radius: 20px;
}

button:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}



span.psw {
	float: right;
	padding-top: 16px;
}